<div class="main_content">
    <a href="" ><h3 class="" align="center">Welcome To Profile</h3></a>
    <div class="container" style="padding-top:150px;">

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group input-container">
                  <i class="fa fa-user icon"></i>
                    <input type="text" class="form-control" name="name" placeholder="Username *" value="" />

                </div>

                <div class="form-group input-container">
                  <i class="fa fa-mobile icon"></i>
                    <input type="text" class="form-control" name="phone" placeholder="Phone *" value="" />

                </div>

                <div class="form-group input-container">
                  <i class="fa fa-key icon"></i>
                    <input type="text" class="form-control" name="password" placeholder="Old password *" value="" />

                </div>

            </div>
            <div class="col-sm-6" style="padding-right: 90px;">

                <div class="form-group input-container">
                  <i class="fa fa-envelope icon"></i>
                    <input type="text" class="form-control" name="email" placeholder="Email *" value="" />

                </div>

                <div class="form-group input-container">
                  <i class="fa fa-envelope icon"></i>
                    <input type="text" class="form-control" name="balance" placeholder="Total Balance *" value="" />

                </div>

                <div class="form-group input-container">
                  <i class="fa fa-key icon"></i>
                    <input type="text" class="form-control" name="password" placeholder="New password *" value="" />

                </div>

            </div> <br>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-2">
               <button type="button" class="btn btn-primary">Update</button>
            </div>
            <div class="col-sm-5">

            </div>
        </div>

    </div>
</div>