.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-text-1 {
  margin: 25px 748px 0 20px;
}

.u-section-1 .u-text-2 {
  width: 372px;
  margin: -36px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 568px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-group-1 {
  min-height: 442px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-1 {
  margin: 24px 845px 0 0;
}

.u-section-2 .u-text-2 {
  margin: -36px 693px 0 269px;
}

.u-section-2 .u-text-3 {
  margin: 20px 857px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -36px 693px 0 269px;
}

.u-section-2 .u-text-5 {
  margin: -36px 431px 0 549px;
}

.u-section-2 .u-text-6 {
  margin: -36px 122px 0 818px;
}

.u-section-2 .u-text-7 {
  margin: 20px 845px 0 0;
}

.u-section-2 .u-text-8 {
  margin: -36px 693px 0 269px;
}

.u-section-2 .u-text-9 {
  margin: -36px 431px 0 549px;
}

.u-section-2 .u-text-10 {
  margin: -36px 122px 0 818px;
}

.u-section-2 .u-text-11 {
  margin: 20px 845px 0 0;
}

.u-section-2 .u-text-12 {
  margin: -36px 693px 0 269px;
}

.u-section-2 .u-text-13 {
  margin: 20px 845px 0 0;
}

.u-section-2 .u-text-14 {
  margin: -36px 693px 0 269px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 60px auto 0 137px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 645px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 593px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 657px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 593px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 331px;
    margin-left: 449px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 22px;
    margin-left: 718px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 645px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 593px;
    margin-left: 169px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 308px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 22px;
    margin-left: 718px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 645px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 593px;
    margin-left: 169px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 645px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 593px;
    margin-left: 169px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 425px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 483px;
    margin-left: 202px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 437px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 483px;
    margin-left: 202px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 221px;
    margin-left: 339px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 520px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 425px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 483px;
    margin-left: 59px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 221px;
    margin-left: 339px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 520px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 425px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 483px;
    margin-left: 59px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 425px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 483px;
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 402px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 297px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 402px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 151px;
    margin-left: 269px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 380px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 402px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 151px;
    margin-left: 269px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 380px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 402px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 402px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 202px;
    margin-left: 98px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 97px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 202px;
    margin-left: 98px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -84px;
    margin-right: 51px;
    margin-left: 169px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -28px;
    margin-left: 180px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 76px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 202px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 51px;
    margin-left: 169px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -28px;
    margin-left: 180px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 60px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 202px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 85px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 202px;
  }
}