.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-text-1 {
  margin: 25px 748px 0 20px;
}

.u-section-1 .u-text-2 {
  width: 372px;
  margin: -36px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 568px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-group-1 {
  width: 252px;
  min-height: 108px;
  height: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 11px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -50px 36px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 265px;
  min-height: 108px;
  height: auto;
  margin: -108px auto 0 278px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 11px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -50px 36px 0 auto;
}

.u-section-2 .u-group-3 {
  margin-top: 30px;
  margin-bottom: 0;
  min-height: 203px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -36px auto 0 269px;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: -36px auto 0 269px;
}

.u-section-2 .u-group-4 {
  min-height: 252px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: -36px auto 0 269px;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: -36px auto 0 269px;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: -36px auto 0 269px;
}

.u-section-2 .u-group-5 {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 98px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-text-15 {
  margin: -37px auto 0 221px;
}

.u-section-2 .u-text-16 {
  margin: -35px auto 0 437px;
}

.u-section-2 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: -38px auto 0 178px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-6 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 166px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 275px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 159px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 159px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-2 {
    margin-left: 75px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 98px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 98px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 98px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 98px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 98px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 102px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 129px;
  }
}