.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-text-1 {
  margin: 25px 748px 0 20px;
}

.u-section-1 .u-text-2 {
  width: 372px;
  margin: -36px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 568px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-group-1 {
  min-height: 658px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 786px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-top: 658px;
  }
}